*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div > h2{
    text-transform: capitalize;
    margin-top: 5px;
    font-size: 1.2em;
}
div > h3{
    font-size: 1.1em;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div > h4{
    font-size: 0.8em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navmenu{
    color: #fff ;
}

.c1{
    background-color: #ff6600;
}
.c2{
    background-color: #8FDB78;
}
.c3{
    background-color: #ffffff;
}

.conteudo{
    width: 100.8%;
}

.lateral{
    background-image: url(../images/lojargama.jpg);
    background-attachment: fixed;
    background-size: 27.4% 100%;
}

div.produto{
    height: 300px;
    width: 170px;
    padding: 10px 10px;
    margin: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 7px black;
    border-radius: 5px;
}

.produto > a > div > h2 {
    height: 70px;
    align-content: center;
}

.tituloprod{
    color: #000000;
    text-decoration: none;
}

.prodfoco{
    height: 400px;
}

.imgprodfoco{
    align-items: center;
}

.prodfoco h2{
    font-size: 2em;
    margin-bottom: 10px;
}
.prodfoco h3{
    font-size: 1.6em;
    font-weight: bolder;
}

.mudarqtd{
    width: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
}

#produto > div {
    height: 76vh;
}

#produto > header {
    height: 24vh;
}

#produto > header  img {
    width: 120px;
}

.lista{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,1.3fr));
}

.sugestao{
    
}